<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javahub.submarine.modules.system.mapper.DictionaryItemMapper">

    <sql id="SelectColumns">
        a.id,
        a.dictionary_id,
        a.label,
        a.value,
        a.sort,
        a.remark,
        a.create_by,
        a.create_time,
        a.update_by,
        a.update_time,
        a.del_flag
    </sql>

    <!--列表查询-->
    <sql id="findList">
        SELECT
            <include refid="SelectColumns"/>
        FROM dictionary_item a WHERE a.del_flag = #{dictionaryItem.delFlag}
        <if test="dictionaryItem.id != null and dictionaryItem.id != ''">
            AND a.id = #{dictionaryItem.id}
        </if>
        <if test="dictionaryItem.dictionaryId != null and dictionaryItem.dictionaryId != ''">
            AND a.dictionary_id = #{dictionaryItem.dictionaryId}
        </if>
        <if test="dictionaryItem.label != null and dictionaryItem.label != ''">
            AND a.label LIKE concat('%',#{dictionaryItem.label},'%')
        </if>
        <if test="dictionaryItem.value != null and dictionaryItem.value != ''">
            AND a.value LIKE concat('%',#{dictionaryItem.value},'%')
        </if>
        <if test="dictionaryItem.sort != null and dictionaryItem.sort != ''">
            AND a.sort = #{dictionaryItem.sort}
        </if>
        <if test="dictionaryItem.remark != null and dictionaryItem.remark != ''">
            AND a.remark = #{dictionaryItem.remark}
        </if>
        <if test="dictionaryItem.createBy != null and dictionaryItem.createBy != ''">
            AND a.create_by = #{dictionaryItem.createBy}
        </if>
        <if test="dictionaryItem.createTime != null and dictionaryItem.createTime != ''">
            AND a.create_time = #{dictionaryItem.createTime}
        </if>
        <if test="dictionaryItem.updateBy != null and dictionaryItem.updateBy != ''">
            AND a.update_by = #{dictionaryItem.updateBy}
        </if>
        <if test="dictionaryItem.updateTime != null and dictionaryItem.updateTime != ''">
            AND a.update_time = #{dictionaryItem.updateTime}
        </if>
    </sql>

    <!--分页查询-->
    <select id="findPage" resultType="DictionaryItem">
        <include refid="findList"/>
    </select>

    <!--列表查询-->
    <select id="findList" resultType="DictionaryItem">
        <include refid="findList"/>
    </select>

</mapper>
