<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javahub.submarine.modules.system.mapper.MenuMapper">

    <sql id="SelectColumns">
        a.id,
        a.name,
        a.value,
        a.pid,
        a.pids,
        a.remark,
        a.create_by,
        a.create_time,
        a.update_by,
        a.update_time,
        a.del_flag
    </sql>

    <!--列表查询-->
    <sql id="findList">
        SELECT
            <include refid="SelectColumns"/>
        FROM menu a WHERE a.del_flag = #{menu.delFlag}
        <if test="menu.id != null and menu.id != ''">
            AND a.id = #{menu.id}
        </if>
        <if test="menu.name != null and menu.name != ''">
            AND a.name LIKE concat('%',#{menu.name},'%')
        </if>
        <if test="menu.value != null and menu.value != ''">
            AND a.value LIKE concat('%',#{menu.value},'%')
        </if>
        <if test="menu.pid != null and menu.pid != ''">
            AND a.pid = #{menu.pid}
        </if>
        <if test="menu.pids != null and menu.pids != ''">
            AND a.pids = #{menu.pids}
        </if>
        <if test="menu.remark != null and menu.remark != ''">
            AND a.remark LIKE concat('%',#{menu.remark},'%')
        </if>
        <if test="menu.createBy != null and menu.createBy != ''">
            AND a.create_by = #{menu.createBy}
        </if>
        <if test="menu.createTime != null and menu.createTime != ''">
            AND a.create_time = #{menu.createTime}
        </if>
        <if test="menu.updateBy != null and menu.updateBy != ''">
            AND a.update_by = #{menu.updateBy}
        </if>
        <if test="menu.updateTime != null and menu.updateTime != ''">
            AND a.update_time = #{menu.updateTime}
        </if>
    </sql>

    <!--分页查询-->
    <select id="findPage" resultType="Menu">
        <include refid="findList"/>
    </select>

    <!--列表查询-->
    <select id="findList" resultType="Menu">
        <include refid="findList"/>
    </select>

</mapper>
