<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htnova.system.manage.mapper.DictionaryItemMapper">

    <sql id="SelectColumns">
        a.id as `id`,
        a.dictionary_id as `dictionaryId`,
        a.label as `label`,
        a.value as `value`,
        a.sort as `sort`,
        a.remark as `remark`,
        a.create_by as `createBy`,
        a.creator_name as `creatorName`,
        a.create_time as `createTime`,
        a.update_by as `updateBy`,
        a.update_time as `updateTime`,
        a.del_flag as `delFlag`
    </sql>

    <!--列表查询-->
    <sql id="findList">
        SELECT
            <include refid="SelectColumns"/>
        FROM t_sys_dictionary_item a WHERE a.del_flag = #{dictionaryItemDto.delFlag}
        <if test="dictionaryItemDto.id != null and dictionaryItemDto.id != ''">
            AND a.id = #{dictionaryItemDto.id}
        </if>
        <if test="dictionaryItemDto.dictionaryId != null and dictionaryItemDto.dictionaryId != ''">
            AND a.dictionary_id = #{dictionaryItemDto.dictionaryId}
        </if>
        <if test="dictionaryItemDto.label != null and dictionaryItemDto.label != ''">
            AND a.label LIKE concat('%',#{dictionaryItemDto.label},'%')
        </if>
        <if test="dictionaryItemDto.value != null and dictionaryItemDto.value != ''">
            AND a.value LIKE concat('%',#{dictionaryItemDto.value},'%')
        </if>
        <if test="dictionaryItemDto.sort != null and dictionaryItemDto.sort != ''">
            AND a.sort = #{dictionaryItemDto.sort}
        </if>
        <if test="dictionaryItemDto.remark != null and dictionaryItemDto.remark != ''">
            AND a.remark = #{dictionaryItemDto.remark}
        </if>
        <if test="dictionaryItemDto.createBy != null and dictionaryItemDto.createBy != ''">
            AND a.create_by = #{dictionaryItemDto.createBy}
        </if>
        <if test="dictionaryItemDto.creatorName != null and dictionaryItemDto.creatorName != ''">
            AND a.creator_name LIKE concat('%',#{dictionaryItemDto.creatorName},'%')
        </if>
        <if test="dictionaryItemDto.createTime != null">
            AND a.create_time = #{dictionaryItemDto.createTime}
        </if>
        <if test="dictionaryItemDto.updateBy != null and dictionaryItemDto.updateBy != ''">
            AND a.update_by = #{dictionaryItemDto.updateBy}
        </if>
        <if test="dictionaryItemDto.updateTime != null">
            AND a.update_time = #{dictionaryItemDto.updateTime}
        </if>
    </sql>

    <!--分页查询-->
    <select id="findPage" resultType="DictionaryItem">
        <include refid="findList"/>
    </select>

    <!--列表查询-->
    <select id="findList" resultType="DictionaryItem">
        <include refid="findList"/>
    </select>

</mapper>
