<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htnova.system.manage.mapper.RolePermissionMapper">

    <sql id="SelectColumns">
        a.id as `id`,
        a.permission_id as `permissionId`,
        a.role_id as `roleId`,
        a.remark as `remark`,
        a.create_by as `createBy`,
        a.creator_name as `creatorName`,
        a.create_time as `createTime`,
        a.update_by as `updateBy`,
        a.update_time as `updateTime`,
        a.del_flag as `delFlag`
    </sql>

    <!--列表查询-->
    <sql id="findList">
        SELECT
            <include refid="SelectColumns"/>
        FROM t_sys_role_permission a WHERE a.del_flag = #{rolePermissionDto.delFlag}
        <if test="rolePermissionDto.id != null and rolePermissionDto.id != ''">
            AND a.id = #{rolePermissionDto.id}
        </if>
        <if test="rolePermissionDto.permissionId != null and rolePermissionDto.permissionId != ''">
            AND a.permission_id = #{rolePermissionDto.permissionId}
        </if>
        <if test="rolePermissionDto.roleId != null and rolePermissionDto.roleId != ''">
            AND a.role_id = #{rolePermissionDto.roleId}
        </if>
        <if test="rolePermissionDto.remark != null and rolePermissionDto.remark != ''">
            AND a.remark = #{rolePermissionDto.remark}
        </if>
        <if test="rolePermissionDto.createBy != null and rolePermissionDto.createBy != ''">
            AND a.create_by = #{rolePermissionDto.createBy}
        </if>
        <if test="rolePermissionDto.creatorName != null and rolePermissionDto.creatorName != ''">
            AND a.creator_name LIKE concat('%',#{rolePermissionDto.creatorName},'%')
        </if>
        <if test="rolePermissionDto.createTime != null">
            AND a.create_time = #{rolePermissionDto.createTime}
        </if>
        <if test="rolePermissionDto.updateBy != null and rolePermissionDto.updateBy != ''">
            AND a.update_by = #{rolePermissionDto.updateBy}
        </if>
        <if test="rolePermissionDto.updateTime != null">
            AND a.update_time = #{rolePermissionDto.updateTime}
        </if>
    </sql>

    <!--分页查询-->
    <select id="findPage" resultType="RolePermission">
        <include refid="findList"/>
    </select>

    <!--列表查询-->
    <select id="findList" resultType="RolePermission">
        <include refid="findList"/>
    </select>

    <!--根据id-->
    <select id="getByRoleId" resultType="Permission">
        SELECT b.* FROM
            t_sys_role_permission a
        LEFT JOIN t_sys_permission b ON a.permission_id = b.id
        WHERE
          a.del_flag = 0 AND a.role_id = #{id}
    </select>

    <!--根据ids-->
    <select id="getByRoleIds" resultType="Permission">
        SELECT b.* FROM
            t_sys_role_permission a
        LEFT JOIN t_sys_permission b ON a.permission_id = b.id
        WHERE
            a.del_flag = 0
            AND b.del_flag = 0
            AND a.role_id IN
        <foreach item="item" index="index" collection="ids"  open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
