<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htnova.system.manage.mapper.UserMapper">

    <sql id="SelectColumns">
        a.id as `id`,
        a.username as `username`,
        a.password as `password`,
        a.name as `name`,
        a.phone as `phone`,
        a.email as `email`,
        a.address as `address`,
        a.sex as `sex`,
        a.avatar as `avatar`,
        a.status as `status`,
        a.dept_id as `deptId`,
        a.dept_ids as `deptIds`,
        a.dept_name as `deptName`,
        a.remark as `remark`,
        a.create_by as `createBy`,
        a.creator_name as `creatorName`,
        a.create_time as `createTime`,
        a.update_by as `updateBy`,
        a.update_time as `updateTime`,
        a.del_flag as `delFlag`
    </sql>

    <!--列表查询-->
    <sql id="findList">
        SELECT
            <include refid="SelectColumns"/>
        FROM t_sys_user a WHERE a.del_flag = #{userDto.delFlag}
        <if test="userDto.id != null and userDto.id != ''">
            AND a.id = #{userDto.id}
        </if>
        <if test="userDto.username != null and userDto.username != ''">
            AND a.username LIKE concat('%',#{userDto.username},'%')
        </if>
        <!--<if test="userDto.password != null and userDto.password != ''">-->
            <!--AND a.password = #{userDto.password}-->
        <!--</if>-->
        <if test="userDto.name != null and userDto.name != ''">
            AND a.name LIKE concat('%',#{userDto.name},'%')
        </if>
        <if test="userDto.phone != null and userDto.phone != ''">
            AND a.phone LIKE concat('%',#{userDto.phone},'%')
        </if>
        <if test="userDto.email != null and userDto.email != ''">
            AND a.email LIKE concat('%',#{userDto.email},'%')
        </if>
        <if test="userDto.address != null and userDto.address != ''">
            AND a.address LIKE concat('%',#{userDto.address},'%')
        </if>
        <if test="userDto.sex != null and userDto.sex != ''">
            AND a.sex = #{userDto.sex}
        </if>
        <if test="userDto.avatar != null and userDto.avatar != ''">
            AND a.avatar = #{userDto.avatar}
        </if>
        <if test="userDto.status != null">
            AND a.status = #{userDto.status}
        </if>
        <if test="userDto.deptId != null and userDto.deptId != ''">
            AND a.dept_id = #{userDto.deptId}
        </if>
        <if test="userDto.deptIds != null and userDto.deptIds != ''">
            AND a.dept_ids LIKE concat('%',#{userDto.deptIds},'%')
        </if>
        <if test="userDto.deptName != null and userDto.deptName != ''">
            AND a.dept_name LIKE concat('%',#{userDto.deptName},'%')
        </if>
        <if test="userDto.remark != null and userDto.remark != ''">
            AND a.remark LIKE concat('%',#{userDto.remark},'%')
        </if>
        <if test="userDto.createBy != null and userDto.createBy != ''">
            AND a.create_by = #{userDto.createBy}
        </if>
        <if test="userDto.creatorName != null and userDto.creatorName != ''">
            AND a.creator_name LIKE concat('%',#{userDto.creatorName},'%')
        </if>
        <if test="userDto.createTime != null">
            AND a.create_time = #{userDto.createTime}
        </if>
        <if test="userDto.updateBy != null and userDto.updateBy != ''">
            AND a.update_by = #{userDto.updateBy}
        </if>
        <if test="userDto.updateTime != null">
            AND a.update_time = #{userDto.updateTime}
        </if>
    </sql>

    <!--分页查询-->
    <select id="findPage" resultType="User">
        <include refid="findList"/>
    </select>

    <!--列表查询-->
    <select id="findList" resultType="User">
        <include refid="findList"/>
    </select>

</mapper>
