<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htnova.scaffold.modules.system.mapper.RoleMenuMapper">

    <sql id="SelectColumns">
        a.id,
        a.menu_id,
        a.role_id,
        a.remark,
        a.create_by,
        a.create_time,
        a.update_by,
        a.update_time,
        a.del_flag
    </sql>

    <!--列表查询-->
    <sql id="findList">
        SELECT
            <include refid="SelectColumns"/>
        FROM role_menu a WHERE a.del_flag = #{roleMenu.delFlag}
        <if test="roleMenu.id != null and roleMenu.id != ''">
            AND a.id = #{roleMenu.id}
        </if>
        <if test="roleMenu.menuId != null and roleMenu.menuId != ''">
            AND a.menu_id = #{roleMenu.menuId}
        </if>
        <if test="roleMenu.roleId != null and roleMenu.roleId != ''">
            AND a.role_id = #{roleMenu.roleId}
        </if>
        <if test="roleMenu.remark != null and roleMenu.remark != ''">
            AND a.remark = #{roleMenu.remark}
        </if>
        <if test="roleMenu.createBy != null and roleMenu.createBy != ''">
            AND a.create_by = #{roleMenu.createBy}
        </if>
        <if test="roleMenu.createTime != null and roleMenu.createTime != ''">
            AND a.create_time = #{roleMenu.createTime}
        </if>
        <if test="roleMenu.updateBy != null and roleMenu.updateBy != ''">
            AND a.update_by = #{roleMenu.updateBy}
        </if>
        <if test="roleMenu.updateTime != null and roleMenu.updateTime != ''">
            AND a.update_time = #{roleMenu.updateTime}
        </if>
    </sql>

    <!--分页查询-->
    <select id="findPage" resultType="RoleMenu">
        <include refid="findList"/>
    </select>

    <!--列表查询-->
    <select id="findList" resultType="RoleMenu">
        <include refid="findList"/>
    </select>

    <!--根据id-->
    <select id="getByRoleId" resultType="Menu">
        SELECT b.* FROM
            role_menu a
        LEFT JOIN menu b ON a.menu_id = b.id
        WHERE
            a.del_flag = 0 AND a.role_id = #{id}
    </select>

    <!--根据ids-->
    <select id="getByRoleIds" resultType="Menu">
        SELECT b.* FROM
        role_menu a
        LEFT JOIN menu b ON a.menu_id = b.id
        WHERE
        a.del_flag = 0 AND a.role_id IN
        <foreach item="item" index="index" collection="ids"  open="(" separator="," close=")">
            '${item}'
        </foreach>
    </select>

</mapper>
