<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htnova.system.mapper.DeptMapper">

    <sql id="SelectColumns">
        a.id,
        a.name,
        a.code,
        a.pid,
        a.pids,
        a.remark,
        a.create_by,
        a.create_time,
        a.update_by,
        a.update_time,
        a.del_flag
    </sql>

    <!--列表查询-->
    <sql id="findList">
        SELECT
            <include refid="SelectColumns"/>
        FROM dept a WHERE a.del_flag = #{dept.delFlag}
        <if test="dept.id != null and dept.id != ''">
            AND a.id = #{dept.id}
        </if>
        <if test="dept.name != null and dept.name != ''">
            AND a.name LIKE concat('%',#{dept.name},'%')
        </if>
        <if test="dept.code != null and dept.code != ''">
            AND a.code LIKE concat('%',#{dept.code},'%')
        </if>
        <if test="dept.pid != null and dept.pid != ''">
            AND a.pid = #{dept.pid}
        </if>
        <if test="dept.pids != null and dept.pids != ''">
            AND a.pids = #{dept.pids}
        </if>
        <if test="dept.remark != null and dept.remark != ''">
            AND a.remark LIKE concat('%',#{dept.remark},'%')
        </if>
        <if test="dept.createBy != null and dept.createBy != ''">
            AND a.create_by = #{dept.createBy}
        </if>
        <if test="dept.createTime != null">
            AND a.create_time = #{dept.createTime}
        </if>
        <if test="dept.updateBy != null and dept.updateBy != ''">
            AND a.update_by = #{dept.updateBy}
        </if>
        <if test="dept.updateTime != null">
            AND a.update_time = #{dept.updateTime}
        </if>
    </sql>

    <!--分页查询-->
    <select id="findPage" resultType="Dept">
        <include refid="findList"/>
    </select>

    <!--列表查询-->
    <select id="findList" resultType="Dept">
        <include refid="findList"/>
    </select>

</mapper>
